# 1. Solution

In [12]:
ages = input('Enter the three ages you want to compare:"add different ages by adding comma":')

Enter the three ages you want to compare:"add different ages by adding comma":12,99,22

In [13]:
ages = ages.split(',')

In [14]:
ages

['12', '99', '22']

In [15]:
ages = tuple(ages)

In [16]:
ages

('12', '99', '22')

In [17]:
num1,num2,num3 = ages

In [18]:
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

In [19]:
if num1>num2 and num1>num3:
    print(f'{num1} is largest')
elif num2>num1 and num2>num3:
    print(f'{num2} is largest')
else:
    print(f'{num3} is largest')

99 is largest

# 2.Solution

In [20]:
celsius = int(input("Enter a value in celsius degree to convert:"))

Enter a value in celsius degree to convert:100

In [22]:
fahreneit = (9/5 * celsius) + 32
print(int(fahreneit))

212

# 3.Solution

In [34]:
numbers = input('Enter a two numbers seperated by comma:')

Enter a two numbers seperated by comma:34,56

In [35]:
numbers = numbers.split(',')

In [36]:
num1,num2 = tuple(numbers)

In [37]:
num1 = int(num1)
num2 = int(num2)

In [38]:
temp = num1
num1 = num2
num2 = temp

In [39]:
num1

56

In [40]:
num2

34

# 4. Solution

In [47]:
def sum(a,b,c):
    sum_number = a+b+c
    return sum_number

In [48]:
print(sum(20,45,45))

110

# 5. Solution

In [68]:
num = int(input("Enter a number:"))

Enter a number:3532

In [69]:
reverse=0
while num!=0:
    rem = num%10
    reverse = rem + reverse*10
    num = num//10

In [70]:
print(f'Reverse of a number is:{reverse}')

Reverse of a number is:2353

## 6. Solution

In [74]:
num = int(input("Enter a number:"))

Enter a number:45

In [75]:
if num%2==0:
    print('Even')
else:
    print('Odd')

Odd

### 7. Solution

In [83]:
import datetime

years = datetime.datetime.today()
years = years.year

In [86]:
years=400

In [88]:
if years%4==0 and (years%100!=0 or years%400 ==0):
    print('It is a leap year!')
else:
    print('It is not a leap year!')

It is a leap year!

## 8. Solution

In [103]:
first_cordinates = input('Enter the 2D-coordinates seperated by commas:')
second_cordinates = input('Enter the 2D-coordinates seperated by commas:')

Enter the 2D-coordinates seperated by commas:23,45
Enter the 2D-coordinates seperated by commas:45,67

In [104]:
node1 = first_cordinates.split(',')
node2 = second_cordinates.split(',')

In [105]:
x1,y1 = node1
x2,y2 = node2

In [106]:
x1 = int(x1)
x2 = int(x2)
y1 = int(y1)
y2 = int(y2)

In [107]:
import math

In [108]:
euclidiean_distance = int(math.sqrt((x2-x1)*(x2-x1) + (y2-y1)*(y2-y1)))

In [109]:
euclidiean_distance

31

## 9. Solution

In [122]:
numbers = input('Enter a three numbers seperated by comma:')

Enter a three numbers seperated by comma:60,60,60

In [123]:
numbers = numbers.split(',')

In [124]:
num1,num2,num3 = numbers

In [125]:
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

In [127]:
sum_num = num1+num2+num3
if sum_num<=180:
    print("Triangles can be formed!")
else:
    print("Triangles can't be formed!")

Triangles can be formed!

# 10. Solution

In [138]:
cost_price = int(input("Enter the cost price:"))
sell_price = int(input("Enter the sell price:"))

Enter the cost price:200
Enter the sell price:100

In [139]:
if sell_price>cost_price:
    profit = sell_price - cost_price
    print(f'Got profit of {profit}')
elif sell_price<cost_price:
    print(f"Got loss")
else:
    pass

Got loss

## 11. Solution

In [1]:
principal = int(input('Enter the principal amount:'))
rate = int(input('Enter the rate percentage:'))
time = int(input('Enter the time in year:'))

Enter the principal amount:500000
Enter the rate percentage:11
Enter the time in year:1

In [2]:
simple_interest = (principal*time*rate)/100

In [3]:
print(simple_interest)

55000.0

# 12. Solution

In [5]:
radius = int(input("Enter the radius:"))
height = int(input("Enter the height:"))

Enter the radius:5
Enter the height:10

In [4]:
import math

In [6]:
volume = math.pi * radius*radius*height

In [7]:
print(volume)

785.3981633974483

## 13. Solution

In [8]:
def divisible_by_3(num):
    if num%3==0 and num%6==0:
        return f"{num} is divisible by both 3 and 6"
    else:
        return f"{num} is not divisible by both 3 and 6"

In [11]:
print(divisible_by_3(66))

66 is divisible by both 3 and 6

## 14. Solution

## 16. Solution

In [13]:
tempr = int(input('Enter the temperature:'))
humidity = int(input("Enter the humidity:"))

Enter the temperature:20
Enter the humidity:100

In [14]:
if tempr>=30 and humidity>=90:
    print('Hot and Humid!')
elif tempr>=30 and humidity<90:
    print('Hot!')
elif tempr<30 and humidity>=90:
    print('Cool and Humid!')
elif tempr<30 and humidity<90:
    print('Cool!')

Cool and Humid!

## 17. Solution

In [17]:
def square_of_numbers(a,b,c):
    square_a = a*a
    square_b = b*b
    square_c = c*c
    return square_a+square_b+square_c

In [19]:
square_of_numbers(2,3,5)

38

# 18. Solution

In [81]:
def armstrong(num):
    s=0
    while num!=0:
        rem = num%10
        s=s+(rem*rem*rem)
        num = num//10
        
    if num==s:
        print('It is Armstrong number!',s)
    else:
        print('It is not Armstrong number!',)

In [84]:
armstrong(371)

It is not Armstrong number!

## 19. Solution

In [1]:
# A number is said to be Armstrong or Narcissistic Number if it is equal to
# the sum of its own digits raised to the power of the number of digits in a given number.
import math

In [6]:
num = int(input("Enter a number to check:"))

Enter a number to check:153

In [7]:
import math
digit = 0
while num!=0:
    digit+=1
    num = num//10
    
sums=0
while num!=0:
    rem=num%10
    sums = sums+math.pow(rem*digit)
    num = num//10
    
if sums==num:
    print('Narcisstic number!')
else:
    print('Not a narcisstic number!')

Narcisstic number!

## 20. Solution

In [12]:
salary = int(input("Enter your salary in lakh:"))

Enter your salary in lakh:100000

In [13]:
if salary>=500000 and salary<=1000000:
    hra = 0.1*salary
    da = 0.05*salary
    pf = 0.03*salary
    tax =0.1*salary
    salary = salary-hra-da-pf-tax
    print(f"Your salary becomes {salary}")
    
elif salary>1100000 and salary<=2000000:
    hra = 0.1*salary
    da = 0.05*salary
    pf = 0.03*salary
    tax =0.2*salary
    salary = salary-hra-da-pf-tax
    print(f"Your salary becomes {salary}")
    
elif salary>=3000000:
    hra = 0.1*salary
    da = 0.05*salary
    pf = 0.03*salary
    tax =0.3*salary
    salary = salary-hra-da-pf-tax
    print(f"Your salary becomes {salary}")
    
elif salary>0 and salary<=100000:
    hra = 0.1*salary
    da = 0.05*salary
    pf = 0.03*salary
    salary = salary-hra-da-pf
    print(f"Your salary becomes {salary}")

Your salary becomes 82000.0

## 21. Solution

In [4]:
def convert1(cm):
    ft = cm/30.48
    return ft

def convert2(kl):
    miles = kl/0.63
    return miles

def convert3(usd):
    nep = usd*130
    return nep

In [9]:
convert = """
        1.Cm to Ft
        2.Kl to miles
        3.Usd to Npr
        4.Exit

        """
print(convert)
while True:
    choose = int(input('Enter your choice:'))
    num = int(input('Enter number to convert:'))
    if choose == 1:
        print(convert1(num))
    
    elif choose==2:
        print(convert2(num))
        
    elif choose==3:
        print(convert3(num))
        
    elif choose==4:
        exit()
        break

        1.Cm to Ft
        2.Kl to miles
        3.Usd to Npr
        4.Exit


Enter your choice:4
Enter number to convert:2

## 22. Solution

In [2]:
head = int(input('Enter number of heads:'))
leg = int(input('Enter number of legs:'))

def number(h,l):
    if l==2:
        print('This is chicken and there are {} heads'.format(h))
    elif l==4:
        print('This is dog and there are {} heads'.format(h))
    else:
        pass
    
number(head,leg)

Enter number of heads:5
Enter number of legs:2
This is chicken and there are 5 heads

## 23. Solution

In [3]:
def swap(a,b):
    a,b = b,a
    print(a,b)
    
swap(4,5)

5 4

## 24. Solution

In [8]:
def sum_of_numbers(n):
    sums=0
    i=1
    while i<=n:
        sums+=i
        i+=1
    print(f"The sum of {n} is {sums}")

In [10]:
sum_of_numbers(10)

The sum of 10 is 55

## 25. Solution

In [11]:
num1 = int(input('Enter first num:'))
num2 = int(input('Enter second num:'))

x = lambda a,b: a*b

Enter first num:10
Enter second num:20

In [13]:
x(num1,num2)

200

## 26. Solution

In [14]:
def fact(n):
    facto=1
    if n==0 or n==1:
        return 1
    else:
        i=1
        while i<=n:
            facto *=i
            i+=1
        return facto

In [18]:
fact(5)

120

## 27. Solution

In [27]:
print('Odd numbers are:')
for i in range(0,52):
    if i%2 !=0:
        print(i,end=' ')

Odd numbers are:
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51

## 28. Solution

In [36]:
def check_prime(num):
    flag=False
    for i in range(2,num+1):
        if num%i==0:
            flag=True
            break
            
    if flag==True:
        print(f"{num} is not a prime number.")
    else:
        print(f"{num} is a prime number.")

In [37]:
check_prime(25)

25 is not a prime number.

## 29.Solution

In [60]:
def prime(a,b):
    for number in range(a,b+1):
        if number==0 or number==1:
            continue
        for i in range(2,number):
            if number%i==0:
                break
            else:
                print(number, end=' ')
                break

In [61]:
prime(0,20)

3 5 7 9 11 13 15 17 19

## 30. Solution

In [86]:
def list_armstrong(a,b):
    for i in range(a,b+1):
        sums=0
        while i!=0:
            rem = i%10
            sums = sums+(rem*rem*rem)
            i = i//10
        if sums==i:
            print(i)

## 31. Solution

In [22]:
# import random

# rand = random.randint(1,5)
# rand2 = random.randint(1,5)
# rand3 = random.randint(1,5)
# rand4 = random.randint(1,5)

# rand_list = [rand,rand2,rand3,rand4]

# i=1
# while i<=16:
#     print(f"{rand} {rand2} {rand3} {rand4}")
#     i+=1


for i in range(1,5):
    for j in range(1,5):
        if i!=j:
            print(i,j)

1 2
1 3
1 4
2 1
2 3
2 4
3 1
3 2
3 4
4 1
4 2
4 3

## 32. Solution

In [30]:
num1 = int(input('Enter first number:'))
num2 = int(input('Enter second number:'))

def hcf(n1,n2):
    if n2==0:
        return n1 
    elif n2==1:
        return 1
    else:
        return hcf(n2,n1%n2)
    
print(hcf(num1,num2))

Enter first number:42
Enter second number:3
3

## 33. Solution

In [38]:
num1 = int(input('Enter first number:'))
num2 = int(input('Enter second number:'))

def lcm(n1,n2):
    return (num1*num2)//hcf(n1,n2) 
            
print(lcm(num1,num2))

Enter first number:15
Enter second number:12
60

## 34. Solution

In [67]:
def prime_num(a,b):
    for number in range(a,b+1):
        if number==0 or number==1:
            continue
        for i in range(2,number):
            if number%i==0:
                break
            else:
                print(number, end=' ')
                break

In [68]:
prime_num(0,25)

3 5 7 9 11 13 15 17 19 21 23 25

## 35. Solution

In [71]:
def fib(num):
    if num==0:
        return 0
    elif num==1:
        return 1
    else:
        return fib(num-1)+fib(num-2)

In [73]:
fib(6)

8

In [80]:
t1,t2=0,1
next_term = t1+t2
print(t1,t2, end =' ')
num = int(input("Enter the range to find fibonaaci:"))
for i in range(num+1):
    print(next_term,end=' ')
    t1=t2
    t2=next_term
    next_term = t1+t2

0 1 Enter the range to find fibonaaci:5
1 2 3 5 8 13

## 36. Solution

In [81]:
import math
def compound(principal,rate,time_n):
    interest = principal * math.pow(1+(rate/100),time_n) - principal
    return interest

In [82]:
print(compound(10000,11,2))

2321.000000000002

## 37. Solution

In [89]:
def power_of_n(num):
    for i in range(1,6):
        print(f"{num}+{num}*{num}+{num}*{num}*{num}")

In [90]:
power_of_n(2)

2+2*2+2*2*2
2+2*2+2*2*2
2+2*2+2*2*2
2+2*2+2*2*2
2+2*2+2*2*2

## 38. Solution

In [94]:
def no_of_digit(num):
    for i in num:
        print(i,end=" ")
        
num = input("Enter the number:")
no_of_digit(num)

Enter the number:1234
1 2 3 4

## 39. SOlution

In [99]:
def factors(num):
    for i in range(1,num+1):
        if num%i==0:
            print(i,end=' ')

In [101]:
factors(7)

1 7

## 40. Solution

In [5]:
def reverse(num):
    sums=0
    while num!=0:
        rem = num%10
        sums = sums*10+rem
        num = num//10
    return sums

In [7]:
print(reverse(123))

321

## 41. Solution

In [10]:
for i in range(1,6):
    print(i*"*")

*
**
***
****
*****

In [11]:
for i in range(1,6):
    print(i*"*")
    if i==3:
        break
j=2
while j>0:
    print(j*"*")
    j-=1

*
**
***
**
*

In [33]:
n=10
k=n-1
for i in range(0,n):
    for j in range(0,k):
        print(end=' ')
    k-=1
    for j in range(0,i+1):
        print("* ", end='')
    print('\r')

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

## 44. Solution

In [53]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=' ')
    for j in range(i-1,0,-1):
        print(j, end=' ')
    print("\r")

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

## 45. Solution

In [62]:
num=1
for i in range(1,6):
    for j in range(1,i+1):
        print(num,end=' ')
        num+=1
    print("\r")

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

## 46. Solution

In [92]:
def facto(n):
    fact=1
    for i in range(1,n+1):
        fact*=i
    return fact

num = int(input("Enter the nth term:"))

i=1
sums=0
while i<num:
    sums = sums + i/facto(i)
    i+=1
print(sums)

Enter the nth term:5
2.6666666666666665