# 1. Solution

In [12]:
ages = input('Enter the three ages you want to compare:"add different ages by adding comma":')

Enter the three ages you want to compare:"add different ages by adding comma":12,99,22

In [13]:
ages = ages.split(',')

In [14]:
ages

['12', '99', '22']

In [15]:
ages = tuple(ages)

In [16]:
ages

('12', '99', '22')

In [17]:
num1,num2,num3 = ages

In [18]:
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

In [19]:
if num1>num2 and num1>num3:
    print(f'{num1} is largest')
elif num2>num1 and num2>num3:
    print(f'{num2} is largest')
else:
    print(f'{num3} is largest')

99 is largest

# 2.Solution

In [20]:
celsius = int(input("Enter a value in celsius degree to convert:"))

Enter a value in celsius degree to convert:100

In [22]:
fahreneit = (9/5 * celsius) + 32
print(int(fahreneit))

212

# 3.Solution

In [34]:
numbers = input('Enter a two numbers seperated by comma:')

Enter a two numbers seperated by comma:34,56

In [35]:
numbers = numbers.split(',')

In [36]:
num1,num2 = tuple(numbers)

In [37]:
num1 = int(num1)
num2 = int(num2)

In [38]:
temp = num1
num1 = num2
num2 = temp

In [39]:
num1

56

In [40]:
num2

34

# 4. Solution

In [47]:
def sum(a,b,c):
    sum_number = a+b+c
    return sum_number

In [48]:
print(sum(20,45,45))

110

# 5. Solution

In [68]:
num = int(input("Enter a number:"))

Enter a number:3532

In [69]:
reverse=0
while num!=0:
    rem = num%10
    reverse = rem + reverse*10
    num = num//10

In [70]:
print(f'Reverse of a number is:{reverse}')

Reverse of a number is:2353

## 6. Solution

In [74]:
num = int(input("Enter a number:"))

Enter a number:45

In [75]:
if num%2==0:
    print('Even')
else:
    print('Odd')

Odd

### 7. Solution

In [83]:
import datetime

years = datetime.datetime.today()
years = years.year

In [86]:
years=400

In [88]:
if years%4==0 and (years%100!=0 or years%400 ==0):
    print('It is a leap year!')
else:
    print('It is not a leap year!')

It is a leap year!

## 8. Solution

In [103]:
first_cordinates = input('Enter the 2D-coordinates seperated by commas:')
second_cordinates = input('Enter the 2D-coordinates seperated by commas:')

Enter the 2D-coordinates seperated by commas:23,45
Enter the 2D-coordinates seperated by commas:45,67

In [104]:
node1 = first_cordinates.split(',')
node2 = second_cordinates.split(',')

In [105]:
x1,y1 = node1
x2,y2 = node2

In [106]:
x1 = int(x1)
x2 = int(x2)
y1 = int(y1)
y2 = int(y2)

In [107]:
import math

In [108]:
euclidiean_distance = int(math.sqrt((x2-x1)*(x2-x1) + (y2-y1)*(y2-y1)))

In [109]:
euclidiean_distance

31

## 9. Solution

In [122]:
numbers = input('Enter a three numbers seperated by comma:')

Enter a three numbers seperated by comma:60,60,60

In [123]:
numbers = numbers.split(',')

In [124]:
num1,num2,num3 = numbers

In [125]:
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

In [127]:
sum_num = num1+num2+num3
if sum_num<=180:
    print("Triangles can be formed!")
else:
    print("Triangles can't be formed!")

Triangles can be formed!

# 10. Solution

In [138]:
cost_price = int(input("Enter the cost price:"))
sell_price = int(input("Enter the sell price:"))

Enter the cost price:200
Enter the sell price:100

In [139]:
if sell_price>cost_price:
    profit = sell_price - cost_price
    print(f'Got profit of {profit}')
elif sell_price<cost_price:
    print(f"Got loss")
else:
    pass

Got loss